*
!*/

# track this file
!.gitignore

# whitelist
config/oculus.properties
config/byg/backups/last_working_configs_backup.zip
config/controllable-client.toml
config/byg/nether-biomes.json5
!config/**
!mods/**
!icon.png
!global_packs/**
saves/**/icon.png
